.body-home-6{
    background-color: #e1e1e1;
    height: 251px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-caja-regalo6{
    width: 80px;
}
.text-body-home6{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-home6{
    margin: 0 12%;
}
@media (max-width:412px) {
    .body-home-6 {
        height: 212px;
        font-size: 14px;
    }
    .img-caja-regalo6{
        width: 56px;
    }
}